.landing-card-grid{
  display: grid; 
  grid-template-columns: 50vh 50vh 50vh;
  grid-template-rows: auto;
  grid-gap: 0.5em;
  border: 5px solid black
}

.grid-element{

}

.grid-element h2{
  color: lightskyblue;
}

.grid-element h2:hover{
  color: blue;
}
