#root {
  --hs-light-brown: #ddb225;
  --hs-medium-brown: #927f3f;
  --hs-dark-brown: #6d5c25;

  --background: #202e80;
  background-color: var(--background);
}

body {
  background-color: #202e80;
}

.flex{
  display: flex;
}

.flex-grid{

}

.nav-header {
  background-color: var(--hs-medium-brown);
}

.nav-footer {
  background: var(--hs-dark-brown);
}

.deck-card {
  display: flex;
  flex-direction: column;
  text-align: center;

  background: white;
  flex-grow: 2;
  min-width: 25em;
  width: 25em;
  border-radius: 0.5em;
  border: 5px solid black;
}

.deck-card div.flex{
  align-content: center;
  justify-content: center;
}

.deck-card div.deck-stats{
  justify-content: space-evenly
}

.divider{
  min-width: 40%;
}

.debug-selector {
  border: 5px solid red;
}

/* CONTAINERS and GRIDS */
.landing-card-grid {
  background: grey;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.upvote-container{
  background: aquamarine;
  flex-wrap: wrap;
  top: -5%;
  left: 35%;
  padding: 0.25em;
  border: 5px solid black;
  position: relative;

  width: 32%;
}