@import url("https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap");

#root {
  --hs-gold: #dfd43a;
  --hs-light-brown: #ddb225;
  --hs-medium-brown: #927f3f;
  --hs-dark-medium-brown: #6d5c25;
  --hs-dark-brown: #443b1c;
  --hover-overlay-color-faded: rgba(34, 17, 5, 0);
  --hover-overlay-color-active: rgba(34, 17, 5, 0.75);

  --background: #202e80;

  --link-color: rgb(20, 173, 211);
  --link-hover-color: rgb(158, 223, 240);

  /* Any copyrighted images found on this site are currently only temporary placeholders */
  /* All unowned copywrited material will be removed prior to deployment */
  --main-background-image: url("https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9TZWFtbGVzc19Xb29kX1RleHR1cmVzX1ZvbF8yXzgwMHg1MTgtMS5qcGc&q=90&enlarge=true&h=1036&w=1600"); /* main background image, WIP */
  --mobile-background-image: url("https://i.pinimg.com/originals/11/9c/dd/119cdd65ac4d32ca62abf0d4fb4559d3.jpg"); /* main background image, WIP */
  --wood-img: url("https://mokatana.files.wordpress.com/2016/12/seamless-wood-texture-free-76.jpg"); /* custom wood background image, WIP */
  --wood-border-img: url("https://mokatana.files.wordpress.com/2016/12/seamless-wood-texture-free-76.jpg"); /* Custom Border WIP */

  --mouseX: 0px;
  --mouseY: 0px;
  --header-move: 7vh;

  --noto: "Noto Serif", serif;
  --noto-tc: "Noto Serif TC", serif;
  --lora: "Lora", serif;
}

* {
  /* font-family: var(--bebas-neue); */
  font-family: var(--noto-tc);
}

a{
  color: var(--link-color);
}

a:hover{
  transition: color 0.25s;
  color: var(--link-hover-color);
}

h2 {
  font-family: var(--noto-serif);
}
/*#region Base Components (ie: body) */
body {
  display: flex;
  flex-direction: column;
}

.page-icon{
  color: var(--hs-gold);
}

.page-icon.interactable:hover{
  transition: color 0.1s;
  color: rgb(171, 226, 230);
}

.page-icon.interactable:active{
  transition: color 0.1s;
  color: var(--hs-gold);
}

#main-display-wrapper {
  min-width: 100%;
  width: 100%;
}

#side-nav {
  width: 100%;
  min-width: 100%;
  position: fixed;
  display: flex;
  top: 10%;
  z-index: 3;
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0);
}

#side-nav.active {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s;
}

#side-nav.inactive {
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s;
}

#side-nav .wrapper {
  background: var(--hs-medium-brown);
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 5px solid var(--hs-dark-brown);
}

#side-nav .wrapper.active {
  box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.397);
  transform: translateX(0%);
  transition: transform 0.5s, box-shadow 0.25s;
}

#side-nav .wrapper.inactive {
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform 0.25s;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  #side-nav .wrapper {
    width: 100%;
  }
  #side-nav .wrapper.active {
    width: 100%;
  }
}

#side-nav .filler {
  display: flex;
  width: 100%;
  height: 100%;
}

#side-nav.hidden {
  position: sticky;
  display: none;
  height: 100%;
  flex-direction: column;
  z-index: 4;
}

#side-nav a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#side-nav ul {
  list-style: none;
  list-style-position: inside;
  margin-right: 5%;
}

#side-nav li {
  margin: auto;
  background-size: 0% 0%;

  padding: 5%;
  border-radius: 0.25em;
  transition: background 0.1s;
}

#side-nav li:hover {
  background: rgba(39, 17, 3, 0.5);
  transition: background 0.5s;
}

#main-display {
  overflow: scroll;
  background: var(--background);
  background-image: var(--main-background-image);
  background-repeat: repeat;
  background-size: 25%;
}

.spinner {
  background: var(--hover-overlay-color-faded);
  transform: rotate(0deg);
  color: var(--hs-gold);

  padding: 10% 20%;
  border-radius: 0.1em;
  transition: transform 0.5s, background 0.5s;
}

.spinner:hover {
  background: var(--hover-overlay-color-active);
  transform: rotate(180deg);
  transition: transform 0.5s, background 1s;
}

.spinner:active {
  color: white;
  transform: rotate(0deg);
  transition: transform 0.5s, color 0.25s;
}

.bottom-border {
  border-bottom: 5px solid var(--hs-dark-brown);
  box-shadow: 0px 0px 30px black;
}

.top-border {
  border-top: 5px solid var(--hs-dark-brown);
}

.drop-shadow {
  box-shadow: 0px 0px 30px black;
}
/*#endregion */

.nav-header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 5px solid var(--hs-dark-brown);
  box-shadow: 0px 0px 30px black;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  --padding: 2%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  background: var(--hs-medium-brown);
}

.nav-header div {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-header .link:hover {
  font-weight: bold;
  color: white;
}
.nav-header .link:active {
  font-weight: bold;
  color: grey;
}

#site-logo {
  width: 10vh;
}

#site-logo img {
  background: blue;
  min-width: 20%;
}

.nav-footer {
  background: var(--hs-dark-brown);
}

/*#region TCG Cards */
.tcg-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  overflow: scroll;
  /* display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  justify-content: center;
  margin: 0px;
  -ms-flex-wrap: wrap; */
}

.tcg-card {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 21%;
  object-fit: contain;
}

.tcg-card:hover {
  background: rgba(256, 256, 256, 0.25);
}

.tcg-card img {
  image-rendering: optimizeSpeed;
  width: 75%;
}
/*#endregion*/

#card-search-filter-nav {
  border: 5px solid yellow;
  background: white;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  /* align-content: space-evenly; */
}

#card-search-filter-nav section {
  border: 5px solid green;
  flex: 1;
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  padding: 1vh;
}

.main-filter-area {
  background: yellow;
}

/*#region Card Dictionary*/
.mana-tab-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-flow: row;
}

.mana-tab {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  background: blue;
  margin: 1%;
}

.mana-tab:hover {
  background: yellow;
}

.mana-tab:active {
  background: green;
}

.mana-tab.active {
  background: white;
}

.mana-tab p {
  margin: auto;
}

.paginator-tab {
  background: white;
  margin: 1vh;
}

.paginator-tab.active {
  background: green;
}
/*#endregion */

/*#endregion */

/*#region Deck Cards */

.deck-card {
  background: var(--hs-medium-brown);
  border: 5px solid var(--hs-dark-brown);
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 2;
  min-width: 20em;
  min-height: 5em;
  box-shadow: 0px 10px 30px black;
}

.deck-card h2 {
  color: white;
}

.deck-card h2::before {
  content: "⬲ ";
  color: var(--hs-light-brown);
}
.deck-card h2::after {
  content: " ⟴";
  color: var(--hs-light-brown);
}

@media screen and (min-width: 926px), (max-width: 600px) {
  .deck-card {
    width: 29em;
    border-radius: 0.5em;
  }
}

@media screen and (max-width: 925px) {
  .deck-card {
    /* background: var(--hs-medium-brown); */
    border: 5px solid var(--hs-dark-brown);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    min-width: 25em;
    min-height: 5em;
    width: 25em;
    scale: 50%;
    border-radius: 0.5em;
  }
}

.deck-card div.flex {
  align-content: center;
  justify-content: center;
}

.deck-card div.deck-stats {
  justify-content: space-evenly;
}

.divider {
  min-width: 40%;
}
/*#endregion */

.debug-selector {
  border: 5px solid red;
}

/*#region Side Nav */
#side-nav-toggle {
  color: white;
}
#side-nav-toggle:hover {
  color: black;
}

#side-nav-toggle:active {
  color: red;
  /* Make it spin here or something */
}
/*#endregion */

/* CONTAINERS and GRIDS */
/*#region Containers and Grids */
.landing-card-grid {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  flex-wrap: wrap;
}

.deck-card-container {
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.upvote-container {
  background: var(--hs-medium-brown);
  border: 5px solid var(--hs-dark-brown);
  display: flex;
  justify-content: center;
  margin-left: 33%;
  margin-right: 33%;
  transform: translateY(-2vh);
  box-shadow: 0px 10px 30px black;
}

/*#endregion */

/*#region Paginator for Card Dictionary */
.paginator {
  display: flex;
  flex-direction: column;
}

.tab-wrapper {
  display: flex;
}

.paginator .tabs {
  display: flex;
  flex-direction: row;
}

.paginator .tabs.navs {
  width: 100%;
}

.paginator .tabs.numerical {
  display: flex;
  width: 100%;
  overflow: scroll;
  justify-content: space-evenly;
}

.paginator .tabs a {
  display: flex;
  border: 1px solid white;
  width: 100%;
}
.paginator .tabs a .tab {
  background: blue;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.paginator .tabs.numerical a .tab.active {
}
/*#endregion */


/*#region Landing Page Guide / Forum Area */
#guides{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

#guides .expansion-guide , #guides #forums-area{
  background: var(--hs-dark-brown);
  display: flex;
  min-width: 45%;
  min-height: 50vh;
  width: 45%;
  border-radius: 0.5em;
  /* background-size: contain; */
}
#guides #forums-area header h2{
  color: white;
  text-align: center;
}

#guides #forums-area .forum-tab{
  color: white;
  font-size: 1em;
  background: var(--hs-dark-medium-brown);
  border: 5px solid var(--hs-gold);
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.forum-tab div{
  display: flex;
  margin: auto;
}

.forum-tab h2{
  font-size: 1.5em;
}
#guides .expansion-guide{
  background-position-x: 0%;
  background-color: rgba(0 , 0 , 0 , 0.5);
  background-blend-mode: multiply;
  transition: background-position-x 1s;
}

#guides .expansion-guide a h2{
  color: white;
}
#guides .expansion-guide a h2:hover{
  color: rgb(20, 173, 211);
  transition: color 0.25s;
}

#guides .expansion-guide:hover{
  background-color: rgba(0 , 0 , 0 , 0.0);
  background-position-x: 100%;
  transition: background-color 0.75s , background-position 15s;
}

#guides footer{
  display: flex;
  margin: auto;
  margin-bottom: 2%;
  background: rgba(0 , 0 , 0 , 0.5);
  width: 100%;
  justify-content: center;
  border-top: 4px solid rgba(0 , 0 , 0 , 0.25);
  border-bottom: 4px solid rgba(0 , 0 , 0 , 0.25);
}
/*#endregion */

#forums-area{
  display: flex;
  flex-direction: column;
}

#forums-area .forum-tab{
  display: flex;
  width: 100%;
  flex-direction: row;

}

.landing-splash {
  background: rgba(0 , 0 , 0, 0.75);
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
}

.landing-splash .wrapper {
  padding: 5% 2.5% 5% 5%;
}
.landing-splash hr {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 23%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 0.2em;
  border-radius: 20em;
}

.landing-splash h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.landing-splash h3 {
  font-size: 26px;
  color: white;
}

.page-section {
  display: flex;
  flex-flow: column;
}
.section-header {
  text-align: center;
  margin: 2vh;
}

.section-header-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  /* background: var(--hs-medium-brown); */
}

.hs-header {
  font-family: var(--lora);
  font-weight: bold;
  color: var(--hs-gold);
  -webkit-text-stroke-color: #6d5c25;
  -webkit-text-stroke-width: 0.4vh;
  -webkit-text-fill-color: var(--hs-gold);
  font-size: 56px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  background: var(--hs-dark-brown);
  padding: 10px 50px 10px 50px;
  border: 5px solid black;
  border-radius: 0.2em;
  box-shadow: 0px 0px 10px black;
}

/*region #articles and components */
#articles {
  --height: 100%;
  min-height: var(--height);
  height: var(--height);
  padding: 1%;
  min-width: 100%;
}

.wrapper {
  display: flex;
}
.wrapper-col {
  display: flex;
  flex-direction: column;
}

#articles .article-area {
  width: 50%;
}

#articles .grid {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  #articles {
    display: flex;
    flex-direction: column;
  }
  #articles .wrapper {
    display: flex;
    flex-direction: column;
  }

  #articles .article-area {
    width: 100%;
  }

  #main-article {
    height: 350px;
    min-width: 100%;
  }
}

.article-card {
  background: rgb(141, 141, 141);
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-background-blend-mode: multiply;
  background-position: 50% 50%;
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0.5%;
  min-height: 250px;
  border-radius: 0.25em;

  transition: all 0.7s ease;
}

.article-card:hover {
  background-position: 100% 0%;
  background-color: rgba(0, 0, 0, 0);
}

/**/

.overlay-darken {
  background: red;
}

.article-card.main {
  min-height: 100%;
  margin-top: auto;
}

.article-card.grid-element {
  min-width: 49%;
  width: 49%;
}

.article-card .content-wrapper {
  margin-top: auto;
}

.article-card .content-wrapper h2 {
  color: white;
  /* margin-top: auto; */
}

.article-card .content-wrapper p {
  display: flex;
  justify-content: space-between;
  /* margin-top: auto; */
}

.article-card.grid-element h2 {
  font-size: 22px;
}
/*#endregion */

#deck-builder-splash {
  background: rgba(0, 0, 0, 0.74);
  display: flex;
  justify-content: center;
  margin: auto;
}

#deck-builder-splash div {
  color: white;
  display: flex;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  /* margin: auto; */
}

.small-padding {
  padding: 2.5%;
}

/*#region Deck Builder */
#deck-creator {
  display: flex;
}

#card-viewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#deck-builder {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

#deck-builder .wrapper {
  width: 100%;
  min-width: 100%;
  justify-content: space-around;
}

#deck-builder .wrapper div {
  width: 100%;
}

#deck-builder-main .small {
  flex-basis: 20%;
}

#deck-builder-main .large {
  flex-basis: 80%;
  flex-grow: 3;
}
/*#endregion */

.loading-wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: inherit;
  mix-blend-mode: multiply; 
}

/*#region Forum Post Header */
.forum-post-header {
  background: var(--hs-medium-brown);
  border: 3px solid;
  border-color: var(--hs-dark-brown);
  color: white;
  display: flex;
  --margin: 0.5%;
  margin-top: var(--margin);
  margin-block: var(--margin);
}

/* .forum-post-header {
  display: flex;
  min-width: 100%;
  background: var(--hs-dark-medium-brown);
} */

.forum-post-header .avatar-area {
  padding: 0.5%;
  min-width: 128px;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.forum-post-header .content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1%;
}

.forum-post-header .content-area .tagline {
  font-size: 12px;
}

.forum-post-header .avatar-area h2 {
  font-size: 16px;
  margin: 1%;
  text-align: center;
}

.forum-avatar {
  background: grey;
  height: 100%;
  border-radius: 0.5em;
}

/*#endregion */

/*#region Form Inputs */

input.search-bar{
  border: none;
  padding: 5%;
  background: rgba(0 , 0 , 0 , 0.25);
}

input.search-bar:focus{
  background: rgba(0 , 0 , 0 , 0.1);
  /* transition: background 0.5s; */
}

/*#engregion */


/*#region Forum Nav */
#forum-nav{
  --px: 5%;
  --py: 2.5%;
  /* padding-left: var(--px);
  padding-right: var(--px); */
  padding: var(--py) var(--px) var(--py) var(--px);
}

#forum-nav .wrapper{
  display: flex;
  justify-content: space-between;
}
/*#endregion */

.break {
  background: var(--hs-dark-brown);
  min-height: 3px;
  width: 100%;
}

#forum-post-form {
  display: flex;
  padding: 1%;
  margin: 5%;
  justify-content: center;
  align-content: center;
  border: 5px solid var(--hs-dark-brown);
  border-radius: 1em;
  background: var(--hs-dark-medium-brown);
}
#forum-post-form form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#forum-post-form textarea {
  height: 256px;
  padding: 1.5%;
  border: none;
  margin-bottom: 1%;
  border-radius: 0px 0px 0.75em 0.75em;
}

#forum-post-form input.title {
  height: 20%;
  padding: 1.5%;
  border: none;
  border-radius: 0.75em 0.75em 0px 0px;
  margin-bottom: 1%;
}

#forum-post-form button {
  background: var(--hs-light-brown);
  border: none;
  border-radius: 0.25em;
  min-height: 50px;
  margin: auto;
  width: 25%;
}
